node_modules/
*.txt
react-test/node_modules/
react-test/dist/
douban-vue/node_modules/
douban-vue/dist/
douban-vue/src/assets/picture/
douban-vue/src/data/
douban-vue/public/picture/
douban-mobile/node_modules/
douban-mobile/dist/
douban-mobile/src/assets/picture/
douban-mobile/public/picture/
douban-express/data/
douban-express/node_modules/
douban/node_modules/
douban/dist/
douban/src/assets/picture/
douban/src/data/
douban/public/picture/
