.items{
    display: block;
    color: #d5d5d5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 0 12px;
    line-height: 28px;
}
.itemWrap{
    justify-content: flex-start;
    display: flex;
    flex: 1;
}
.nav{
    display: flex;
    background-color: #545652;
    height: 28px;
}
.infoWrap{
    justify-content: flex-end;
    display: flex;
    flex: 1;
}
/* .info {
    display: block;
    color: #d5d5d5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 0 12px;
    line-height: 28px;
} */
.items:hover{
    color: white;
    cursor: pointer;

}