
.listCol {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-between;  */

}
.li {
    flex: 150px;
}
.img{
    width: 100px;  
    height: auto;
}
.moreMeta{
    display: none;
}
.h{
    border-bottom: 1px solid #e5ebe4;
    display: inline-block;
}
.linkMore{
    font-size: 13px;
    color: #3377aa;
    margin: 15px;
}
.newBook{
    margin-top: 40px;
}
.linka{
    color: #3377aa;
}
/* .hot{
    height: 100px;
    width: 200px;
    background: red;
} */
.prev{
    color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font: 100 16px Arial;
        font-weight: 100;
        line-height: normal;
    text-align: center;
    line-height: 16px;
    margin-left: 4px;
    outline: none;
    border-radius: 9px;
    background: #9b9a8e;
}
.next{
    composes: prev;
}
.slideControls{
    /* display: inline-block; */
}
.slideBtns{
    float: right;
}
.slidedots{
    list-style: none;
    float: right;

}
.slidedots li{
    display: inline-block;
}
.slidedots a{
    width: 5px;
    height: 5px;
    display: inline-block;
    zoom: 1;
    margin-left: 8px;
    border-radius: 5px;
    background: #dfdfdf;
}