
.list5 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-column-gap: 9px;

}

.img{
    width: 100px;  
    height: auto;
}
.moreMeta{
    display: none;
}
.h{
    margin: 0;
    line-height: 150%;
    justify-content: flex-start;
    flex:1;
}
.linkMore{
    font-size: 13px;
    color: #3377aa;
    margin: 15px;
}
.section{
    margin-top: 40px;
    width: 675px;
}
.linkMore a{
    color: #3377aa;
}
/* .hot{
    height: 100px;
    width: 200px;
    background: red;
} */
.prev{
    color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font: 100 16px Arial;
    font-weight: 100;
    line-height: normal;
    text-align: center;
    line-height: 16px;
    margin-left: 4px;
    outline: none;
    border-radius: 9px;
    background: #9b9a8e;
}
.next{
    composes: prev;
}
.slideControls{
    flex:1;
    justify-content: flex-end;
    display: flex;
    align-items:center;
    line-height: 150%;
}
.slideBtns{
    display:  inline-block;
}
.slideBtns a{
    text-decoration: none;
}
.slidedots{
    list-style: none;
    margin: 0;
    display:  inline-block;
}
.slidedots li{
    display: inline-block;
    margin: 0;
}
.slidedots a{
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-left: 8px;
    border-radius: 5px;
    background: #dfdfdf;
}
.nav {
    display: flex;
    border-bottom: 1px solid #e5ebe4;

}
.infoContent{
    width: 100%;
    
}